$primary: #F85146;
$primaryHover: #EB392D;
$primaryNot: rgba(248, 81, 70, 0.5);
$secondary:rgba(223, 174, 121, 1);
$third: rgba(223, 174, 121, 0.6);

$title:#333D48;
$placeholder:#B4B9BF;
$content: #989CA3;
$text: #858A91;
$disabled: #CFD3DA;

$white: #FFFFFF;

$purple: #8386A2;

$shadow: #EEEEEE;
$share: #495561;
$shareHover: #B4B9BF;
$secondBg: #f7f7f7;
$inputLine: #EEEEEE;
