$primary: #f85146 !default;
$primary-dark: #eb392d !default;
$on-primary: #fff !default;
$secondary: #dfae79 !default;
$on-secondary: #fff !default;
$background: #f7f7f7 !default;
$surface: #fff !default;
$on-surface: #333d48 !default;
$success: $secondary !default;
$on-success: $on-secondary !default;
$error: $primary !default;
$on-error: $on-primary !default;
